{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "servers": {
      "home-assistant": {
        "type": "remote",
        "url": "http://mcp.smart.local.sipex.cloud/mcp",
        "disabled": false
      },
      "github": {
        "type": "remote",
        "url": "https://api.githubcopilot.com/mcp/",
        "headers": {
          "Authorization": "Bearer {env:GITHUB_PERSONAL_ACCESS_TOKEN}"
        }
      },
      "ripwire": {
        "type": "local",
        "command": ["ripwire", "--mcp"]
      }
    }
  },
  "plugins": [
{{- if eq .chezmoi.os "darwin" }}
    "@mohak34/opencode-notifier@latest",
{{- else if eq .chezmoi.os "linux" }}
    "./waybar-notify.ts",
{{- end }}
  ]
}
