.config/nvim/lazy-lock.json
.config/nushell/env.nu
key.txt.age

{{- if eq .chezmoi.os "darwin" }}
dot_config/pacsea
.config/omarchy
.config/waybar
.config/hypr
.config/pacsea
.config/nvim/lua/plugins/symlink_theme.lua
.config/nvim/lua/plugins/omarchy-theme-hotreload.lua
.config/nvim/lua/plugins/all-themes.lua
.config/nvim/lua/plugins/theme.lua
dot_docker/modify_config.json
{{ else }}
.aerospace.toml
.config/nvim/lua/plugins/mac_theme.lua
{{- end }}

