export PATH="$HOME/bin:$(brew --prefix coreutils)/libexec/gnubin:/usr/local/bin:$PATH"

alias assume-admin="source ~/.assume-role 177947534298:role/lendable_dev_admin len-admin"

{{ if .php.composer.auth }}
export COMPOSER_AUTH={{- .php.composer.auth }}
{{ end }}

. /opt/homebrew/etc/profile.d/z.sh

eval "$(starship init zsh)"
