#!/bin/sh

# Create dev directories

mkdir -p {{ .chezmoi.homeDir }}/dev
mkdir -p {{ .chezmoi.homeDir }}/dev/work
mkdir -p {{ .chezmoi.homeDir }}/dev/prv
mkdir -p {{ .chezmoi.homeDir }}/dev/minefield

